--- 
layout: home 

# header:
#   overlay_image: assets/promotionBanners/uniHalfRunners.png
#   overlay_color: white
#   title: Bendigo University Athletics Club Half Marathon Festival 
#   excerpt: Saturday 14 September 2019 - 21.1km, 14km, 7km, 3km or 1km
#   cta_label: Enter Online
#   cta_url: https://my1.raceresult.com/128637/registration?lang=en&mode=1&contest=-1

# In leadup to various events, we want to have a header to attract entries.

## Dont forget the {{site.membershipurl}}
# header:
#   overlay_image: assets/promotionBanners/uniHalfRunners.png
#   title: Bendigo University Athletics Online Membership
#   excerpt: Winter is coming. Join up ONLINE now
#   cta_label: "Join or Renew Now"
#   cta_url:  https://www.eventbrite.com.au/e/bendigo-university-ac-20202021-season-memberships-tickets-127654416797
#   overlay_color: white


# header:
#   overlay_image: assets/promotionBanners/uniHalfRunners.png
#   title: Bendigo University Athletics Club Invitational
#   excerpt: Enter early and save
#   cta_label: Enter Now
#   cta_url:  https://my1.raceresult.com/125027/registration?lang=en  
#   overlay_color: white

# header:
#   overlay_image: assets/promotionBanners/uniHalfRunners.png
#   title: Bendigo University Athletics Club AGM
#   excerpt: 7pm Wed October 23, Bendigo Club Woodbury Room, 22 Park St, BENDIGO
#   cta_label: Details
#   cta_url:  http://bendigouniathsclub.org.au/ac/runs/agm.html
#   overlay_color: white

# When you move stuff around put 'spares' here.
unused_features:

  - title: Club Running Uniform
    # image_path: assets/files/Uniforms/MensSingletfront.jpg
    excerpt: > 
      
      Singlets, T's, Technical Long Sleeves. Hoodies. Tractor Caps. Beanies
      Look proud in yellow.
    
    url: "/uniform.html"
    btn_label: Merchandise
    btn_class: "btn--info"

  - title: Those Hot Summer Nights - Tuesday and Thursday
    excerpt: >

      The club is represented at just about all the 
      Tuesday and Thursday evening AB fixtures. 
      Inclusive welcoming atmosphere. A great experience.

    btn_label: More Information 
    btn_class: btn--info
    url: /summerTrack.html

  - title: Trot around Tuesdays
    excerpt: >
      Informal trot around at Lake Weroona, near the Nolan St carpark.
      Some go fast

    btn_label: More Information 
    btn_class: btn--info
    url: https://www.athleticsbendigo.org.au/trot-around-tuesdays

  - title: Contact Details
    url: about.html
    alt: Club Contact Details
    excerpt: Contact deatils and how to join.
    btn_class: btn--info
    # image_path: assets/homepage/Contact_small.jpg

  - title: Summer Saturday Season is here
    excerpt: >

      The Summer track season is underway. Get down to the track
      on Saturday Afternoons.

    url: https://indd.adobe.com/view/1ab2ab9c-6a13-410e-94bb-2b362d44f91d
    # image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: placeholder image 1
    btn_label: AB Program
    btn_class: "btn--info"

  - title: Winter is Coming
    url: runs.html
    excerpt: >
      The Winter Program is set is stone (as far as possible, Terms and
      Conditions apply). Start to get your cold weather gear out of the
      cupboard, and look at some 8k specific cross country training plans.
      Practice your afternoon tea recipies.  See if your sandwiches can become
      king!
      
    btn_label: Woo Hoo
    btn_class: "btn--info"



feature_row:
  - title: Covid Spring Series
    url: covid-spring.html
    excerpt: >
      We invite YOU to participate in our Spring Series, over a five week
      period until 31 October 2020, on some of our classic club run courses.
      Similar to many ‘virtual runs’, participants are invited to run any
      course at any time during the period and [submit your results online](https://www.multisportaustralia.com.au/races/bendigo-uni-athletics-club-2020-spring-series-2020).
      
    btn_label: Covid Run
    btn_class: "btn--info"

  - title: Virtual Program
    url: runs.html
    excerpt: >
      Run the VIRTUAL version of these classsics.

      <br> [College Classic](runs/college-classic.html)
      <br> [Sandhurst Slog](runs/sandhurst-slog.html)
      <br> [Pearce's Road Rally](runs/pearces-road-rally.html)
      <br> [Kangaroo Flat Falter](runs/kangaroo-flat-falter.html)
      <br> [Hornet's Hideaway](runs/hornets-hideaway.html)
      <br> [Pioneer Heartbreak](runs/guys-hill-heartbreak.html) 
      <br> [Notley’s Noodle](runs/notleys-noodle.html)
      <br> [Rifle Range Rattle](runs/rifle-range-rattle.html)
      <br> [Mandurang Meander](runs/mandurang-meander.html)
      <br> [Rocky Rises](runs/rocky-rises.html)
      <br> [Crusoe Crusade](runs/crusoe-crusade.html)
      
    btn_label: Program
    btn_class: "btn--info"

  - title: Join Now
    url: about.html
    excerpt: >
      The club membership year runs from March 1 each year.  Now is the to
      join up for another fun filled year of running excitement.  New runner
      and old and new members and old are all welcome to participate in the 
      thriving winter cross country season, and then to stick around for the
      track season.  

    btn_label: Join Now
    btn_class: "btn--info"
  

bottom_feature_row:
  - title: Keith MacDonald Championship
    url: keithMac.html
    # image_path: /assets/homepage/KeithMacdonald.jpg
    image_path: https://static.wixstatic.com/media/2daf1f_829a6640cee94e8ab04d3b7915dbc30a~mv2.jpg/v1/fill/w_843,h_562,al_c,q_90,usm_0.66_1.00_0.01/2daf1f_829a6640cee94e8ab04d3b7915dbc30a~mv2.jpg
    alt: Keith MacDonald Championship Cup

  - title: Contributions Welcome
    url: contribute.html
    excerpt: >
      Got something to say that everyone should know?
      
      Email your ideas or reports to 
      [race.report@bendigouniathsclub.org.au](mailto:race.report@bendigouniathsclub.org.au)
      and we will put you on them on the website
    btn_label: Contribute
    btn_class: "btn--info"


  - title: FAQ for new Members
    # alt: placeholder image 2"
    excerpt: Useful information for **new** and **old** runners alike.
    url: "/faq.html"
    btn_label: "FAQ"
    btn_class: "btn--success"

  
sidebar:
  nav: admin
---
