{% assign list = site.aggregates  | where: "buacYear",page.buacYear | where:"buacType",page.buacType %}

<nav class="race-data">
<ul>
{% for data in list %}
  {% if data.url != page.url %}
  <li><a href="{{site.baseurl}}{{data.url}}">{{data.buacLength | capitalize }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</nav>

