<!--[if lt IE 9]>
<div class="notice-danger align-center" style="margin: 0;">
  You are using an <strong>outdated</strong> browser. 
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
