<div class="page__footer-follow">
  <ul class="social-icons">
     <li>
        <a href="mailto:{{site.author.email}}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>{{site.author.email}}</a>
     </li>
    {% if site.data.ui-text[site.locale].follow_label %}
    <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

        <li>
            <a href="http://www.strava.com/clubs/119244"
          itemprop="sameAs">
            <i class="fab fa-fw fa-strava" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].strava_label | default: "Strava" }}
          </a>
        </li>
    
    {% if site.facebook.username %}
    <li>
      <a href="https://facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square"
          aria-hidden="true"></i> Facebook</a>
    </li>
    {% endif %}
    {% if site.twitter.username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-fw fa-twitter-square"
          aria-hidden="true"></i> Twitter</a>
    </li>
    {% endif %}
    {% if site.author.github %}
    <li><a href="http://github.com/{{ site.author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %} {% if site.author.bitbucket %}
    <li>
      <a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fa fa-fw fa-bitbucket"
          aria-hidden="true"></i> Bitbucket</a>
    </li>
    {% endif %}
    <li>
      <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}"><i class="fa fa-fw fa-rss-square"
          aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label
        | default: "Feed" }}</a>
    </li>
    <li><a href="{% link banners.md %}"><i class="far fa-fw fa-file-image"></i>Banners</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title
  }}. 
  
  <!-- {{ site.data.ui-text[site.locale].powered_by | default:
  "Powered by" }}
  <a href="http://jekyllrb.com"
    rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"

    rel="nofollow">Minimal Mistakes</a>.
  -->
</div>
