{% 
  assign thisYear = site.raceData  |  
   where: "buacYear",page.buacYear |
   where:"buacRaceNum",page.buacRaceNum | 
   where:"buacType",page.buacType 
%}
<nav class="race-data">
<ul>
{% for race in thisYear %}
  {% if race.url != page.url %}
    <li>
      <a href="{{site.baseurl}}{{race.url}}">
        {{race.buacLength | capitalize }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
</nav>

{% if page.runMD %}
  {% 
    assign otherYears = site.raceData  |  
     where:"runMD",page.runMD | 
     where:"buacType",page.buacType |
     where:"buacLength",page.buacLength
  %}
  <nav class="race-data">
    <ul>
      {% for y in otherYears | reverse %}
        {% if y.url != page.url %}
          <li>
            <a href="{{site.baseurl}}{{y.url}}">
              {{y.buacYear}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
