{% assign images = site.static_files | where_exp:'image',"image.path contains 'assets/banners'" %}
<script>
 var bannerImagesForMasthead = {{images|jsonify}};
 //console.log('bannerImagesForMasthead',bannerImagesForMasthead)
</script>
<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
