//calendar classes
$program-colors : (
  other: #FFF,
  av: #43ceff,
  ab: #72fb79,
  social: #ff9999,
  date: #fff
);

@mixin club-program-color {
  @each $name, $color in $program-colors {
    .club-program .program-#{$name} {
      background-color: $color;
    }
  }
}

.club-program tbody tr {
  background-color: #ffde03;
}

@include club-program-color;
