@import "tablesorter-theme.scss";

.sponsor-list{
  list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    li {
        img {
          max-height: 70px;
          max-width: 120px;
        }
      margin:8px;
      display:block;
       float:left;
        &:last-child{
            margin-right:0px;
        }
    }
}

.nav-across{
  ul{
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        padding:0.2em;
        display:block;
        float:left;
        &:last-child{
            margin-right:0px;
        }
    }
  }
}

.nav-buttons{
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  ul li { 
    display: inline; 
    font-size: $type-size-7;
  }
  ul li a {
    text-decoration: none;
    padding: .4em 1em;
    color: $uni-yellow;
    background-color: $primary-color;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    white-space: nowrap;
  }
  ul li a:hover {
    color: $warning-color;
    background-color: darken($background-color,20%);
  }
}

// Yellow (at time of writing) links in raceData pages.
$race-data-back-color:#6699ff;
.race-data{
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  ul li { 
    display: inline; 
  }
  ul li a {
  text-decoration: none;
  padding: .4em 1em;
  font: $tableHeaderFont;
  color: $headerTextColor;
  background-color: $race-data-back-color;
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  }
  ul li a:hover {
    color: $headerTextColor;
    background-color: darken($race-data-back-color,20%);
  }
}
