---
layout: archive
---


<p>
{% include upcomingRuns.md show="3" %}
{% include recentResults.md show="5" %}
</p>

{% include feature_row %}

{% if paginator.page ==1 %}

{% include gallery caption="" %}

{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Running News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include feature_row id="bottom_feature_row" %}
{% include gallery id="galleryBottom" caption="" %}

{% include paginator.html %}
